.switch {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.App {
  height: 100vh;
  background-color: #fff;
}

.App-dark {
  background-color: #2a2a2a;
  height: 100vh;
}

.container {
  background-color: #f5f5f5;
  width: 540px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  padding: 20px;
}

.container-dark {
  background-color: #3b4042;
  width: 540px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  padding: 20px;
}

.anim {
  width: 540px;
  margin: 50px auto 0;
}

.alert {
  padding: 10px 20px;
  background-color: #cce5ff;
  color: #004085;
  margin-top: 20px;
}

.alert-enter {
  opacity: 0;
}

.alert-enter-active {
  transition: opacity 500ms ease-out;
  opacity: 1;
}

.alert-exit-active {
  transition: opacity 350ms ease-out;
  opacity: 0;
}
