.CardHeader {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
  }
  
  .Sort select {
    background-color: #fff;
    outline: none;
    border: 1px solid #ececec;
    border-radius: 2px;
    margin-left: 10px;
    width: auto;
    height: 35px;
    cursor: pointer;
  }
  
  .Sort select:hover {
    border: 1px solid #5b5a5e;
  }