/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    padding-top: 50px;
}

.search {
    width: 310px;
    margin: 0 auto 20px;
}

.search__input {
    padding: 3px;
    font-size: 18px;
}

.search__submit {
    font-family: sans-serif;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #eee;
} */

.content {
  max-height: 0;
  transition: max-height 1s ease-out;
  overflow-y: auto;
  overflow-x: hidden;
}

.open {
  max-height: 500px;
}

.pagination {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 200px;
  margin: auto;
}

.pagination input {
  width: 30px;
}
