.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list__item-enter-active {
  animation: task 800ms ease-in alternate-reverse;
}

.list__item-exit-active {
  animation-duration: 800ms;
  animation-name: hinge;
}

/* .list__item-exit-active {
  animation: task 800ms ease-out forwards;
} */

@keyframes task {
  0% {
    transform: translateX(0);
  }

  30% {
    opacity: 0.7;
    transform: translateX(30px);
  }

  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}

@keyframes hinge {
  0% {
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  20%,
  60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  40%,
  80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}
